{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peak Health - Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        gold: '#b9a848',
                        dark: '#28282B',
                        light: '#F9FAFB',
                    }
                }
            }
        }
    </script>
    <link rel="stylesheet" href="{% static '/assets/css/global.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body class="bg-dark text-light">
    <!-- Messages Container -->
    <div id="messages-container"
       class="fixed top-10 left-1/2 transform -translate-x-1/2 z-50 space-y-3 mt-20">
        {% for message in messages %}
          <div class="alert px-5 py-3 rounded-xl shadow-lg min-w-[300px] max-w-md text-center transition-opacity duration-300
                      {% if 'success' in message.tags %}
                        bg-[#28282B] border-l-4 border-green-500
                      {% elif 'error' in message.tags %}
                        bg-[#28282B] border-l-4 border-red-500
                      {% elif 'warning' in message.tags %}
                        bg-[#28282B] border-l-4 border-[#b9a848]
                      {% else %}
                        bg-[#28282B] border-l-4 border-blue-500
                      {% endif %}">
            <p class="text-[#ebebeb] text-sm font-medium">{{ message }}</p>
          </div>
        {% endfor %}
    </div>
    <script>
        setTimeout(() => {
          document.querySelectorAll('.alert').forEach(el => {
            el.style.transition = "opacity 0.5s ease";
            el.style.opacity = "0";
            setTimeout(() => el.style.display = 'none', 500);
          });
        }, 3000);
    </script>
    
    <!-- Wrapper: Sidebar + Main Content -->
    <div class="flex overflow-hidden">
        <!-- Mobile Sidebar Toggle Button (hidden on desktop) -->
        <button id="openSidebar" class=" fixed p-3 m-3 bg-dark text-gold
        border border-gold rounded-md  self-start xs:self-auto">
            <i class="fas fa-bars"></i>
        </button>
        <div class="flex h-screen">
            <!-- Sidebar -->
            <div id="sidebar" class="fixed left-0 top-0 w-72 h-full 
            bg-[#28282B] text-white transform overflow-y-auto
            -translate-x-full border-r-2 border-white/30  
            transition-transform duration-300 
             p-4 z-40">
                <button id="closeSidebar" 
                class="text-[#b9a848] text-2xl">✖ Close</button>
                <div class="p-4 border-b-2 border-white/30">
                    <h1 class="text-2xl font-bold text-gold">
                        <i class="fas fa-mountain mr-2"></i> <a href="{% url 'core:index' %}">Peak Health</a> 
                    </h1>
                    <p class="text-sm text-light/80">Admin Dashboard</p>
                </div>
                
                <nav class="p-4">
                    <ul class="space-y-2" id="sidebar-menu">
                        <li>
                            <a href="{% url 'useradmin:dashboard' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fas fa-tachometer-alt mr-3"></i> Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'useradmin:products' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fas fa-box-open mr-3"></i> Products
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:add-product' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fa-solid fa-square-plus mr-3"></i> New Products
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:category' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fa-solid fa-layer-group mr-3"></i> Categories
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:orders' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fas fa-shopping-cart mr-3"></i> Orders
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:coupons' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fas fa-tags mr-3"></i> Coupons
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:analytics' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fas fa-chart-line mr-3"></i> Analytics
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'useradmin:brand' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fa-regular fa-copyright mr-3"></i> Brands
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:flavor' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fas fa-lemon mr-3"></i> Flavors
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:addresses' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fa-solid fa-location-dot mr-3"></i> Addresses
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'useradmin:contact-us' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fas fa-headset mr-3"></i> Contact Us
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:users' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg  transition">
                                <i class="fas fa-users mr-3"></i> Users
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:suppliers' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg  transition">
                                <i class="fas fa-truck mr-3"></i> Suppliers
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'useradmin:settings' %}" class="flex items-center p-2 text-light hover:text-gold rounded-lg transition">
                                <i class="fas fa-cog mr-3"></i> Settings
                            </a>
                        </li>
                    </ul>
                </nav>
                
                
            </div>
        </div>
        

        <!-- Main Content -->
        <div id="mainContent" class="flex-1 overflow-auto p-6 lg:ml-0 transition-all duration-300">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const currentPath = window.location.pathname;
          const links = document.querySelectorAll("#sidebar-menu a");
      
          links.forEach(link => {
            const linkPath = link.getAttribute("href");
            if (currentPath === linkPath || currentPath.startsWith(linkPath)) {
              link.classList.remove("text-light", "hover:text-gold");
              link.classList.add("text-gold", "bg-dark/50");
            }
          });
        });
    </script>
      
    
    <script src="{% static 'assets/js/messages.js' %}"></script>
    <script src="{% static 'assets/js/spinner.js' %}"></script>
      <!--search button -->
    <script src="{% static 'assets/js/search.js' %}"></script>
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
    <script src="{% static 'assets/js/function.js' %}"></script>
    <script src="{% static 'assets/js/range-slider.js' %}"></script>
    <script src="{% static 'assets/js/filters.js' %}"></script>
    <script src="{% static 'assets/js/sidebar-toggle.js' %}"></script>
    <script src="{% static 'assets/js/password-toggle.js' %}"></script>

    <!-- Initialize Tom Select for searchable dropdowns -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          new TomSelect('select.searchable', {
            create: false,
            sortField: {
              field: "text",
              direction: "asc"
            }
          });
        });
    </script>
      

</body>
  