{% extends "useradmin/base-sidebar.html" %}
{% load static %}
{% block content %}

<div class="container mx-auto px-4 py-6">
    <!-- Header -->
    <div class="mb-8">
        <h1 class="text-3xl font-bold text-gold">System Settings</h1>
        <p class="text-light/80">Manage your store configuration and preferences</p>
    </div>

    <div class="grid grid-cols-1">
        <!-- Left Column - Admin Info -->
        <div class="lg:col-span-2 space-y-6">
            <!-- Admin Settings Card -->
            <div class="bg-primary rounded-lg shadow-lg border border-white/10 p-6">
                <h2 class="text-xl font-semibold text-light mb-6">ِAdmin Information</h2>
                
                <form method="POST" >
                    {% csrf_token %}   
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <!-- Admin Name -->
                        <div>
                            <label class="block text-sm font-medium text-light mb-2">Admin Name *</label>
                            {{profile_form.username}} 
                        </div>
                        
                        <!-- Admin Email -->
                        <div>
                            <label class="block text-sm font-medium text-light mb-2">Admin Email *</label>
                            {{profile_form.email}}
                        </div>                       
                    </div>
                    <!-- Save Button -->
                    <button
                    type="submit"
                    class="btn mt-3">
                    Save Changes
                    </button>
                </form>
            </div>
            
            <!-- Change Password -->
            <div class="bg-primary rounded-lg shadow-lg border border-white/10 p-6">
                <h2 class="text-xl font-semibold text-light mb-6">Change Password</h2>
                
                <a href="{% url 'useradmin:change-password' %}" class="flex items-center p-3 bg-dark/70 border border-white/20 rounded-lg hover:border-gold transition text-sm sm:text-base">
                    <i class="fas fa-key text-gold mr-2 sm:mr-3 text-sm sm:text-base"></i>
                    <span>Change Password</span>
                </a>
            </div>
        </div>
        
        
    </div>
</div>

{% endblock %}