{% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>home</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tw-elements/css/tw-elements.min.css"
    />
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          fontFamily: {
            montserrat: ["Montserrat", "serif"],
          },
          extend: {
            colors: {
              gold: '#b9a848',
              dark: '#28282B',
              darker: '#1E1E1E',
              light: '#F9FAFB',
            }
          }
        },
        variants: {
          extend: {
            display: ['group-hover'],
            opacity: ['group-hover'],
            visibility: ['group-hover'],
            transform: ['group-hover']
          }
        },
        corePlugins: {
          preflight: false,
        },
      };
    </script>
    
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static '/assets/css/global.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/header.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <!--header start-->
    <header class="flex bg-[#28282B] p-4">
      <a href="{% url 'core:index' %}" class="logo">Peak Health</a>
      
      <ul>         
        <li>
          <!-- Search Icon Button -->
          <button id="openSearch" class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <form action="{% url 'core:search' %}" method="GET">

            <!-- Search Box (Appears Inside Navbar) -->
            <div
              id="searchOverlay"
              class=" fixed inset-0 h-full top-0 left-0 w-full bg-[#28282B] bg-opacity-70 p-4 z-40">
              <div class="relative w-full max-w-2xl mx-auto">
                <!-- Search Input -->
                <input
                  name="q"
                  type="text"
                  id="searchInput"
                  placeholder="Search..."
                  class="w-full pl-14 py-2 text-black bg-white rounded-md border-2 
                  border-[#b9a848] outline-none"/>

                <!-- Close Button -->                  
                <button
                  type="button"
                  id="closeSearch"
                  class="absolute right-12 top-1/2 transform -translate-y-1/2 text-[#28282B] text-2xl">
                  ✖
                </button>

                <!-- Submit Button on the left inside input -->
                <button
                  type="submit"
                  class="absolute left-3 top-1/2 transform -translate-y-1/2 text-[#28282B] text-xl"
                  title="Search">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>                 
              </div>
            </div>
          </form>
        </li>
       <!-- Products Link -->
        <li class="relative group">  
          <a href="{% url 'core:product-list'%}" class="products-link">
            <i class="fa-solid fa-dumbbell"></i> Products
          </a>
          <!-- Dropdown Menu - Now inside the li element -->
          <div class="absolute right-0 mt-2 w-48 bg-[#28282B] border border-white/30 rounded-md
           shadow-lg py-1 z-50 opacity-0 invisible group-hover:opacity-100 group-hover:visible 
           transition-all duration-200 transform group-hover:translate-y-0 translate-y-1">
            <a href="{% url 'core:product-list' %}" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            all products</a>
            {% for c in categories %}
            <a href="{% url 'core:category-product-list' c.cid %}" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            {{c.title}}</a>
            {% endfor %}
          </div>
        </li>
        {% if request.user.is_authenticated %}
        <!-- Dashboard Link -->
        <li class="relative group">  
          <a href="{% url 'core:dashboard' %}" class="account">
            <i class="fa-solid fa-user"></i>
          </a>
          
          <!-- Dropdown Menu - Now inside the li element -->
          <div class="absolute right-0 mt-2 w-48 bg-[#28282B]  border border-white/30 rounded-md
           shadow-lg py-1 z-50 opacity-0 invisible group-hover:opacity-100 group-hover:visible
            transition-all duration-200 transform group-hover:translate-y-0 translate-y-1">
            <a href="{% url 'core:dashboard' %}" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            My Account</a>
            {% if request.user.is_superuser %}
            <a href="{% url 'useradmin:dashboard' %}" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            Admin Account</a>
            {% endif %}
            <a href="{% url 'core:dashboard' %}?section=orders" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            Orders</a>
            <a href="{% url 'core:dashboard' %}?section=wishlist" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            My Wishlist</a>
            <a href="{% url 'core:dashboard' %}?section=address" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            Addresses</a>
            <a href="{% url 'core:dashboard' %}?section=contact-history" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            Contact History</a>
            <a href="{% url 'core:dashboard' %}?section=account-details" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            Account details</a>
            <a href="{% url 'userauths:sign-out' %}" 
            class="block px-4 py-2 text-white text-base hover:bg-[#b9a848] ">
            Logout</a>
          </div>
        </li>
        {% else %}
        <!-- Sign In/Register Button -->
        <li>
          <button class="sign_in-register">
            <a href="{% url 'userauths:sign-in' %}" class="sign-in">
              <i class="fa-solid fa-user"></i>
              Sign In
            </a>
            <span>/</span>
            <a href="{% url 'userauths:sign-up' %}" class="register"
              ><i class="fa-solid fa-user-plus"></i> Register</a
            >
          </button>
        </li>
        {% endif %}
        <!-- Cart Icon  -->
        <li class="relative group">
          <a href="{% url 'core:cart' %}" class="cart">
            <i class="fa-solid fa-cart-shopping cart-icon">
              <span id="cart-items-count" class="cart-number">{{ request.session.cart_data_obj|length }}</span>
            </i>
          </a>
          
          <div id="cart-preview-container"
           class="absolute right-0 mt-2 w-48 bg-[#28282B] border border-white/30 rounded-md
                shadow-lg py-1 z-50 opacity-0 invisible group-hover:opacity-100 group-hover:visible 
                transition-all duration-200 transform group-hover:translate-y-0 translate-y-1">
                      
              {% include "partials/cart_preview.html" %}
          </div>
        </li>
        {% if request.user.is_authenticated %}
        <!-- logout Icon -->
        <li>
          <a href="{% url 'userauths:sign-out' %}" class="log-out"
            ><i class="fa-solid fa-right-from-bracket"></i
          ></a>
        </li>
        {% endif %}


        <li>
          <!-- Hamburger Button (mobile only) -->
          <button id="menuToggle" class=" text-white text-2xl p-2">
            <i class="fa-solid fa-bars"></i>
          </button>

          <!-- Toggle Menu (Hidden by default) -->
          <div id="mobileMenu" class=" flex-col bg-[#28282B] text-[#b9a848] w-full absolute top-full left-0 p-4 z-50">
            <div class="flex justify-between">
              <a href="{% url 'core:product-list'%}" class="py-2 w-full">
                <i class="fa-solid fa-dumbbell"></i> Products</a>
              <button class="submenu-toggle py-2">
                <i class="fa-solid fa-chevron-right transition-transform duration-300"></i>
              </button>
            </div>
            <div  class="accountSubmenu  transition-all duration-300 
                ease-in-out">
              <a href="{% url 'core:product-list' %}">All Products</a>
              {% for c in categories %}
              <a href="{% url 'core:category-product-list' c.cid %}">{{c.title}}</a>
              {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
            <div class="flex justify-between w-full">
              <a href="{% url 'core:dashboard' %}" class="py-2 w-full">
                <i class="fa-solid fa-user "></i> My Account</a>
              <button class="submenu-toggle py-2">
                <i class="fa-solid fa-chevron-right transition-transform duration-300"></i>
              </button>
            </div>
            <div class="accountSubmenu transition-all duration-300 
                ease-in-out">
              <a href="{% url 'core:dashboard' %}?section=dashboard">Dashboard</a>
              {% if request.user.is_superuser %}
              <a href="{% url 'useradmin:dashboard' %}">Admin Dashboard</a>
              {% endif %}
              <a href="{% url 'core:dashboard' %}?section=orders">My Orders</a>
              <a href="{% url 'core:dashboard' %}?section=wishlist">Wishlist</a>
              <a href="{% url 'userauths:sign-out' %}">Logout</a>
            </div>
            {% else %}
            <a href="{% url 'userauths:sign-in' %}" class="py-2"><i class="fa-solid fa-user"></i> Sign In</a>
            <a href="{% url 'userauths:sign-up' %}" class="py-2"><i class="fa-solid fa-user-plus"></i> Register</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </header>
    <!--header end-->
      
      <div id="messages-container"
       class="fixed top-10 left-1/2 transform -translate-x-1/2 z-50 space-y-3 mt-20">
        {% for message in messages %}
          <div class="alert px-5 py-3 rounded-xl shadow-lg min-w-[300px] max-w-md text-center transition-opacity duration-300
                      {% if 'success' in message.tags %}
                        bg-[#28282B] border-l-4 border-green-500
                      {% elif 'error' in message.tags %}
                        bg-[#28282B] border-l-4 border-red-500
                      {% elif 'warning' in message.tags %}
                        bg-[#28282B] border-l-4 border-[#b9a848]
                      {% else %}
                        bg-[#28282B] border-l-4 border-blue-500
                      {% endif %}">
            <p class="text-[#ebebeb] text-sm font-medium">{{ message }}</p>
          </div>
        {% endfor %}
      </div>
      
      
      <div id="spinner-container">
        
      </div>
      
      
      <script>
        setTimeout(() => {
          document.querySelectorAll('.alert').forEach(el => {
            el.style.transition = "opacity 0.5s ease";
            el.style.opacity = "0";
            setTimeout(() => el.style.display = 'none', 500);
          });
        }, 3000);
      </script>

      <!--header end-->
      {% block content %}
      {% endblock %}

      
      <!--Footer container-->
    <footer class="bg-[#28282B] text-gray-300 py-6 px-6">
      <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        
        <!-- Logo & Description -->
        <div>
          <h2 class="text-2xl font-bold text-[#b9a848]">Peak Health</h2>
          <p class="mt-4 text-sm">Your trusted source for premium supplements and fitness products.</p>
        </div>
    
        <!-- Products -->
        <div class="flex flex-col items-start sm:items-center ">
          <h3 class="text-xl text-[#b9a848] font-semibold border-b-2 border-gray-700 mb-4">Categories</h3>
          <ul class="flex flex-col space-y-2 text-sm  items-start sm:items-center">
            {% for c in categories %}
            <li class="flex items-center">
              <span class="text-[#b9a848] mr-2 text-bold">›</span> 
              <a href="{% url 'core:category-product-list' c.cid %}" class="hover:text-[#b9a848] text-white">
                {{ c.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        

    
        <!-- Support -->
        <div class="flex flex-col  items-start sm:items-center">
          <h3 class="text-xl text-[#b9a848] font-semibold  border-b-2 border-gray-700 mb-4">Support</h3>
          <ul class="flex flex-col space-y-2 text-sm  items-start sm:items-center">
            <li><a href="{% url 'core:contact_us' %}" class="hover:text-[#b9a848]">
              <span class="text-[#b9a848] mr-2 text-bold">›</span> 
              Contact Us</a></li>
            <li><a href="{% url 'core:shipping-policy' %}" class="hover:text-[#b9a848]"> 
            <span class="text-[#b9a848] mr-2 text-bold">›</span> 
              Shipping Policy</a></li>
            <li><a href="{% url 'core:return-policy' %}" class="hover:text-[#b9a848]"> 
            <span class="text-[#b9a848] mr-2 text-bold">›</span> 
              Return Policy</a></li>
          </ul>
        </div>
    
        <!-- Terms and Conditions -->
        <div class="flex flex-col  items-start sm:items-center">
          <h3 class="text-xl text-[#b9a848] font-semibold  border-b-2 border-gray-700 mb-4">Terms and Conditions</h3>
          <ul class="flex flex-col space-y-2 text-sm  items-start sm:items-center">
            <li><a href="{% url 'core:about-us' %}" class="hover:text-[#b9a848]">
            <span class="text-[#b9a848] mr-2 text-bold">›</span> 
              About Us</a></li>
            <li><a href="{% url 'core:privacy-policy' %}" class="hover:text-[#b9a848]">
            <span class="text-[#b9a848] mr-2 text-bold">›</span> 
              Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    
      <!-- Divider -->
      <div class="border-t border-gray-700 mt-10 pt-6 flex flex-col
        items-center text-sm">
        <!-- Social media icons container -->
        <div class="mb-6 flex  space-x-2">
          <a href="#!" class="rounded-full bg-transparent p-3 text-white hover:bg-[#b9a848] transition">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#!" class="rounded-full bg-transparent p-3 text-white hover:bg-[#b9a848] transition">
            <i class="fa-brands fa-youtube"></i>
          </a>

          <a href="#!" class="rounded-full bg-transparent p-3 text-white hover:bg-[#b9a848] transition">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#!" class="rounded-full bg-transparent p-3 text-white hover:bg-[#b9a848] transition">
            <i class="fa-brands fa-tiktok"></i>
          </a>

        </div>
        <p>&copy; 2025 Peak Health. All rights reserved.</p>
      </div>
    </footer>
      
    <!-- tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/js/tw-elements.umd.min.js"></script>

    <!-- Hamburger Menu Toggle -->
    <script>
      const menuToggle = document.getElementById('menuToggle');
      const mobileMenu = document.getElementById('mobileMenu');

      menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('active');
      });
    </script>
    <!-- submenu toggle -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const toggleButtons = document.querySelectorAll(".submenu-toggle");
    
        toggleButtons.forEach((btn) => {
          const chevron = btn.querySelector("i");
    
          btn.addEventListener("click", function (e) {
            e.preventDefault();
    
            // جيب العنصر اللي بعد الزر مباشرة (اللي هو .accountSubmenu)
            const submenu = btn.parentElement.nextElementSibling;
    
            if (submenu && submenu.classList.contains("accountSubmenu")) {
              submenu.classList.toggle("active");
              chevron.classList.toggle("rotate-90");
            }
          });
        });
      });
    </script>
    
    
  <script src="{% static 'assets/js/messages.js' %}"></script>
  <script src="{% static 'assets/js/spinner.js' %}"></script>
    <!--search button -->
  <script src="{% static 'assets/js/search.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="{% static 'assets/js/function.js' %}"></script>
  <script src="{% static 'assets/js/range-slider.js' %}"></script>
  <script src="{% static 'assets/js/filters.js' %}"></script>
  <script src="{% static 'assets/js/sidebar-toggle.js' %}"></script>
  <script src="{% static 'assets/js/password-toggle.js' %}"></script>

</body>
</html>