{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'core:checkout' %}" method="POST">
  {% csrf_token %}
  <div class="p-4">
    <div class="max-w-7xl mx-auto px-4">
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Left Column (Delivery + Payment) -->
        <div class="order-2 lg:order-1 lg:col-span-2 space-y-8">
          <!-- Delivery Information -->
          <div>
            <h2 class="text-3xl font-semibold text-gold">Delivery Information</h2>
            {% if address_form.errors %}
            <div class="text-red-500 text-sm mt-2">
              {% for field in address_form %}
                {% for error in field.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              {% endfor %}
              {% for error in address_form.non_field_errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
            <div id="new-address-section" class="grid gap-6 my-4">
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <label class="block text-sm font-medium text-gold mb-1">First Name</label>
                  <div class="">
                    {{ address_form.first_name }}
                  </div> 
                </div>
                <div>
                  <label class="block text-sm font-medium text-gold mb-1">Last Name</label>
                  <div class="">
                    {{ address_form.last_name }}
                  </div>
                </div>
              </div>
              
              <div>
                <label class="block text-sm font-medium text-gold mb-1">Email Address</label>
                <div class="">
                  {{ address_form.email }}
                </div>
              </div>
              
              <div>
                <label class="block text-sm font-medium text-gold mb-1">Phone Number</label>
                <div class="">
                  {{ address_form.phone }}
                </div>
              </div>
              
              <div>
                <label class="block text-sm font-medium text-gold mb-1">Delivery Address</label>
                <div class="">
                  {{ address_form.street_address }}
                </div>
                <div class="mt-2">
                  {{ address_form.apartment }}
                </div>
              </div>
              
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <label class="block text-sm font-medium text-gold mb-1">City</label>
                  <div class="">
                    {{ address_form.city }}
                  </div>
                </div>
                <div>
                  <label class="block text-sm font-medium text-gold mb-1">Postal Code</label>
                  <div class="">
                    {{ address_form.postal_code }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="border-white/30">
          
          <!-- Payment Information -->
          <div>
            <h2 class="text-3xl font-semibold text-gold">Make a payment</h2>
            <p class="text-light text-sm mt-4">Complete your transaction swiftly and securely with our easy-to-use payment process.</p>
            <div class="mt-8 max-w-lg">
              <h3 class="text-lg font-semibold text-gold">Choose your payment method</h3>
              <!-- Payment Method -->
              <div class="flex flex-wrap gap-2 md:gap-4 justify-between">
                <div class="radio-input flex flex-col md:flex-row gap-2 md:gap-4 items-center">
                  <input value="Cash on Delivery" name="payment_method" id="value-1" type="radio" />
                  <label for="value-1">
                    <div class="text">
                      <span class="circle"></span>
                      <h3 class="text-light">
                        <i class="fas fa-receipt"></i> Cash on Delivery
                      </h3>
                    </div>
                  </label>
                  <input value="Vodafone Cash" name="payment_method" id="value-2" type="radio" />
                  <label for="value-2">
                    <div class="text">
                      <span class="circle"></span>
                      <h3 class="text-light">
                        <i class="fas fa-wallet"></i> Vodafone Cash <br>
                        <span class="text-xs text-gray-400">(pro-version)</span>
                      </h3>
                    </div>
                  </label>
                </div>
              </div>                         
            </div>
          </div>
        </div>
  
        <!-- Right Column (Order Summary) -->
        <div class="order-1 lg:order-2 lg:col-span-1 bg-transparent border-2 border-white/30 p-6 rounded-lg h-fit">
          <h2 class="text-2xl text-center font-bold text-gold mb-6">Order Summary</h2>
          <div class="my-4 text-light text-sm">
            there are <span class="text-gold">{{cart_total_items}}</span> products in your cart.
          </div>
          <div class="overflow-x-auto overflow-y-auto">
            <table class="w-full">
              <thead>
                <tr class="border-b border-gray-600">
                  <th class="text-left py-3 text-light font-medium">Product</th>
                  <th class="text-left py-3 text-light font-medium">Price</th>
                  <th class="text-right py-3 text-light font-medium">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                {% for pid, item in cart_data.items %}
                <tr class="border-b border-gray-600">
                  <td class="text-left py-4">
                    <div class="flex items-center gap-2">
                      <img src="{{item.image}}" class="w-12 h-12 rounded-md object-cover" alt="{{item.title}}" />
                      <div>
                        <span class="font-medium text-light hover:text-gold transition duration-150">
                          <a href="{% url 'core:product-detail' pid %}">{{ item.title }}</a>
                        </span>
                        <p class="text-sm text-gray-500">Quantity: {{item.qty}}</p>
                      </div>
                    </div>
                  </td>
                  <td class="text-center py-4">
                    <span class="font-semibold text-light">EGP {{item.price}}</span>
                  </td>
                  <td class="text-right py-4">
                    <span class="font-semibold text-light">EGP {% widthratio item.price 1 item.qty %}</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
          <!-- Total Amount Section and discount -->
          <div class="mt-6 pt-4 border-t border-gray-600">
            <div class="flex justify-between text-base  text-light">
              <span>Shipping</span>
              <span id="shipping_cost">
                {% if shipping_cost %}
                    EGP {{ shipping_cost }}
                {% else %}
                  <span class="text-green-500 font-semibold">Free</span>
                {% endif %}
              </span>                      
            </div>
            <div class="flex justify-between text-lg font-semibold text-light">
              <span>Total</span>
              <span id="Subtotal-amount">EGP {{ cart_total_amount }}</span>                      
            </div>
            
            <div class="discount-section flex justify-between text-lg font-semibold text-green-400 mb-2" style="display: none;">
              <span>Discount</span>
              <span id="discount-amount"></span>
            </div>      
            
            <div class="total-section flex justify-between text-lg font-semibold text-light mb-2" style="display: none;">
              <span>Total after Discount:</span>
              <span id="total-amount"></span>
            </div>
          </div>
          
          <div class="mt-6">
            <label class="block text-sm font-medium text-gold mb-2">Coupon Code <span class="text-gray-500 text-sm">(pro-version)</span></label>
            <div class="flex gap-2 w-full justify-center">
              <!-- Coupon Apply Form -->
              <div class="flex gap-2">
                <input name="code" id="coupon-code" type="text" placeholder="Enter coupon code"
                  class="px-4 py-3 bg-transparent w-full text-light text-sm border border-gray-600 rounded-md focus:border-gold outline-0" />
                <button type="submit" disabled id="apply-coupon-btn" name="apply_coupon"
                  class="bg-white px-4 py-3 text-sm font-medium text-dark rounded-md">
                  Apply 
                </button>
              </div>
            </div>
            
            <div class="flex justify-center">
              <button type="submit" 
                class="bg-darker w-[150px] text-center text-gold border-2 border-white/30 shadow-[0px_0px_10px_rgba(95,157,231,0.2)] font-bold py-2 px-4 rounded-md mt-4 hover:bg-gold hover:text-dark transition-colors duration-150">
                Place Order
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock content %}