{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <!-- tailwind -->
    
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static '/assets/css/global.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/header.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/index.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/login.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
<body>

  <div class=" w-full  max-w-screen-xl mx-auto  px-4 my-20">
    <!-- Breadcrumb -->
    <div class="p-4">
      <nav class=" text-sm flex items-center gap-2  text-dark">
        <span class="text-gold"><i class="fas fa-home"></i> Home</span>
        <span class="text-light">/</span>
        <span class="font-medium text-light">My Account</span>
      </nav>
    </div>
    <!-- Responsive layout -->
    <div class="flex flex-col  lg:flex-row p-4 gap-8 items-start justify-center w-full">
      <!-- Sidebar - buttons -->
      <div class="w-full lg:w-2/4  space-y-4 pr-0 lg:pr-4">
        <button onclick="showSection('dashboard')"
         class="flex items-center gap-2 rounded-lg py-4 px-2 border border-white/30 text-gold font-medium w-full text-left hover:bg-gold hover:text-dark transition-colors duration-200">
          <i class="fas fa-sliders-h"></i> Dashboard
        </button>

        <button onclick="showSection('orders')"
          class="flex items-center gap-2 rounded-lg py-4 px-2 border border-white/30 text-gold font-medium w-full text-left hover:bg-gold hover:text-dark transition-colors duration-200 ">
          <i class="fas fa-box"></i> Orders
        </button>

        <button onclick="showSection('wishlist')"
          class="flex items-center gap-2 rounded-lg py-4 px-2 border border-white/30 text-gold font-medium w-full text-left hover:bg-gold hover:text-dark transition-colors duration-200 ">
          <i class="fa-solid fa-heart"></i> wishlist
        </button>
        
        <button onclick="showSection('address')"
         class="flex items-center gap-2 rounded-lg py-4 px-2 bg-transparent border border-white/30 text-gold font-medium w-full text-left hover:bg-gold hover:text-dark transition-colors duration-200">
          <i class="fas fa-map-marker-alt"></i> My Address
        </button>
        <button onclick="showSection('account-details')"
        class="flex items-center gap-2 rounded-lg py-4 px-2 bg-transparent border border-white/30 text-gold font-medium w-full text-left hover:bg-gold hover:text-dark transition-colors duration-200">
          <i class="fas fa-user"></i> Account Details
        </button>
        <button onclick="showSection('contact-history')"
        class="flex items-center gap-2 rounded-lg py-4 px-2 bg-transparent border border-white/30 text-gold font-medium w-full text-left hover:bg-gold hover:text-dark transition-colors duration-200">
          <i class="fa-regular fa-message"></i> Contact History
        </button>
        <a href="{% url 'userauths:sign-out' %}"
        class="flex items-center gap-2 rounded-lg py-4 px-2 bg-transparent border border-white/30 text-gold font-medium w-full text-left hover:bg-gold hover:text-dark transition-colors duration-200">
          <i class="fas fa-sign-out-alt"></i> Sign out
        </a>
      </div>
      <!-- sections -->
      <div class="w-full lg:w-3/4 p-4 border-t lg:border-t-0 lg:border-l border-white/30">

        <!-- Dashboard Section -->
        <div id="dashboard" class="section">
          <h2 class="text-xl text-gray-300 font-bold mb-2">Hello <span class="text-gold">{{request.user.username}}</span></h2>
          <p class="mb-6 text-gray-300">
            From your account dashboard you can view your recent orders, manage your shipping and billing addresses,
            and edit your password and account details.
          </p>

          <!-- Grid Cards -->
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
              <button onclick="showSection('orders')" 
              class="p-4 border border-white/30 rounded shadow hover:bg-gold  cursor-pointer text-center">
                <div class="text-3xl mb-2"><i class="fas fa-box"></i></div>
                <div class="font-semibold">Orders</div>
              </button>

              <button onclick="showSection('wishlist')" 
              class="p-4 border border-white/30 rounded shadow hover:bg-gold  cursor-pointer text-center">
                <div class="text-3xl mb-2"><i class="fa-solid fa-heart " ></i></div>
                <div class="font-semibold">wishlist</div>
              </button>

              <button onclick="showSection('address')"
              class="p-4 border border-white/30  rounded shadow hover:bg-gold  cursor-pointer text-center">
                <div class="text-3xl mb-2"><i class="fas fa-map-marker-alt"></i></div>
                <div class="font-semibold">Addresses</div>
              </button>

              <button onclick="showSection('account-details')"
              class="p-4 border border-white/30 rounded shadow hover:bg-gold  cursor-pointer text-center">
                <div class="text-3xl mb-2"><i class="fas fa-user"></i></div>
                <div class="font-semibold">Account Details</div>
              </button>

              <button class="p-4 border border-white/30 rounded shadow hover:bg-gold  cursor-pointer text-center">
                <div class="text-3xl mb-2"><i class="fa-regular fa-message"></i></div>
                <div class="font-semibold">Contact History</div>
              </button>

              <a href="{% url 'userauths:sign-out' %}"
              class="p-4 border border-white/30 rounded shadow hover:bg-gold  cursor-pointer text-center col-span-full md:col-span-1">
                <div class="text-3xl mb-2"><i class="fas fa-sign-out-alt"></i></div>
                <div class="font-semibold">Logout</div>
              </a>
          </div>
        </div>
  
        <!-- order section -->
        <div id="orders" class="section flex-1 overflow-hidden">
          <h2 class="text-2xl font-semibold mb-4 text-gold">Your Orders</h2>
          <div class="overflow-x-auto overflow-y-auto max-h-[500px]  rounded-lg border border-white/30 bg-transparent">
            <table class="min-w-full text-sm text-dark ">
              <thead class="bg-transparent border-b border-white/30">
                <tr class="text-left text-gold">
                  <th class="p-4 font-medium whitespace-nowrap uppercase">Order ID</th>
                  <th class="p-4 font-medium whitespace-nowrap uppercase">Date</th>
                  <th class="p-4 font-medium whitespace-nowrap uppercase">Status</th>
                  <th class="p-4 font-medium whitespace-nowrap uppercase">Paid Status</th>
                  <th class="p-4 font-medium whitespace-nowrap uppercase">Price</th>
                  <th class="p-4 font-medium whitespace-nowrap uppercase">Saved</th>
                  <th class="p-4 font-medium whitespace-nowrap uppercase">Total</th>
                  <th class="p-4 font-medium whitespace-nowrap uppercase">Action</th>
                </tr>
              </thead>
              <tbody>
                {% if not orders %}
                <tr class="border-b border-white/30">
                  <td colspan="8" class="p-4 text-center text-gray-400">No orders found.</td>
                </tr>
                {% endif %}
                {% for order in orders %}
                <tr class="border-b border-white/30 hover:bg-gold/10">
                  <td class="p-4 text-gold whitespace-nowrap">{{order.oid}}</td>
                  <td class="p-4 whitespace-nowrap text-light">{{order.order_date}}</td>
                  <td class="p-4"><span class="bg-dark border border-white/20 rounded-full pl-3 pr-3 py-1 text-sm font-medium transition-colors
                    {% if order.order_status == 'delivered' %} bg-green-900/30 text-green-400
                    {% elif order.order_status == 'shipped' %} bg-yellow-900/30 text-yellow-400
                    {% elif order.order_status == 'pending' %} bg-blue-900/30 text-blue-400
                    {% elif order.order_status == 'canceled' %} bg-red-900/30 text-red-400
                    {% else %} bg-gray-900/30 text-gray-400{% endif %}">{{order.order_status}}</span></td>
                  {% if order.paid_status == True %}
                  <td class="p-4">
                     <i class="fa-solid fa-circle-check text-green-500 pl-8"></i></td>
                  {% else %}
                  <td class="p-4">
                      <i class="fa-solid fa-circle-xmark text-red-500 pl-8"></i></td>
                  {% endif %}
                  <td class="p-4 whitespace-nowrap text-light">EGP {{order.price}}</td>
                  <td class="p-4 whitespace-nowrap text-light">EGP -{{order.saved}}</td>
                  <td class="p-4 whitespace-nowrap text-light">EGP {{order.total_price}}</td>
                  <td class="p-4 text-gold hover:underline cursor-pointer">
                    <a href="{% url 'core:order-detail' order.oid %}">View</a></td>
                </tr>
                {% endfor %}
               
              </tbody>
            </table>
          </div>
        </div>


        <!-- Wishlist Section -->
        <div id="wishlist" class="section hidden">
          <h2 class="text-2xl font-semibold mb-4 text-gold">Your Wishlist</h2>
          {% if not wishlist %}
          <p class="text-gray-400">Your wishlist is empty. Start adding products to your wishlist!</p>
          {% endif %}
          
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {% for w in wishlist %}
            <div class="wishlist-card bg-transparent border border-white/30 rounded-lg p-4 
            flex flex-col h-full relative">
              <!-- Trash icon positioned at top right -->
              <button data-pid="{{w.product.pid}}"
              class="delete-from-wishlist absolute top-2 right-2 text-red-500 
              hover:text-red-700 transition-colors">
                <i class="fa-solid fa-trash"></i>
              </button>
              
              <div class="aspect-square mb-4 overflow-hidden rounded">
                <img src="{{w.product.image.url}}" alt="{{w.product.title}}" 
                class="w-full h-full object-cover">
              </div>
              <h3 class="text-lg text-gold font-semibold">{{w.product.title}}</h3>
              <p class="text-gray-400">EGP {{w.product.price}}</p>
              <a href="{% url 'core:product-detail' w.product.pid %}"
              class="text-gold text-sm hover:underline mt-2 inline-block mt-auto">View Product</a>
            </div>
            {% endfor %}
          </div>
        </div>

  
        <!-- Address Section -->
        <div id="address" class="section hidden"> 
          <div class="flex items-center justify-between">
            <h2 class="text-2xl text-gold font-bold">My Address</h2>
            <a href="{% url 'core:add-address' %}" class="btn">+ Add Adress</a>      
          </div>
          {% if not addresses %}
          <p class="text-gray-400 mt-4">You have no addresses saved. Please add an address.</p>
          {% endif %}
          {% for address in addresses %}
          <div class="mt-4 relative address-card">
            <button data-address-id="{{address.id}}"
            id="delete-address"
            class="absolute top-6 right-4 text-red-500 hover:text-red-700 transition">
              <i class="fa-solid fa-trash "></i>
            </button>
            <div class="bg-transparent p-4 rounded-lg border border-white/30">
              <p class="text-gray-200">{{address.first_name}} {{address.last_name}}</p>
              <p class="text-gray-200">{{address.street_address}}, {{address.city}}</p>
              <p class="text-gray-400">Apartment: {{address.apartment}}</p>
              <p class="text-gray-400">Phone: {{address.phone}}</p>
              
              <div class="mt-2 flex items-center justify-between">
                <a href="{% url 'core:edit-address' address.id %}"
                 class=" text-gold hover:underline cursor-pointer">Edit</a>
                {% if address.status %}
                    <i data-id="{{address.id}}" 
                    class="fa-solid fa-circle-check check-btn text-green-500"></i>
                    <button data-id="{{address.id}}" style="display: none;"
                     class="btn make-default-btn">Make As Default</button>
                {% else %}
                    <i data-id="{{address.id}}"
                     class="fa-solid fa-circle-check check-btn text-green-500" 
                     style="display:none;"></i>
                    <button data-id="{{address.id}}"
                     class="btn make-default-btn">Make As Default</button>
                {% endif %}
              </div>
              
            </div>
          </div>
          {% endfor %}
          

        </div>

        <!-- Account Details Section -->
        <div id="account-details" class="section hidden">
          <h2 class="text-2xl text-gold font-bold mb-2">Account Details</h2>
        
          <form method="POST" class="space-y-6 max-w-2xl">
            {% csrf_token %}
            <div >
              <label for="email" class="block text-sm font-medium text-[#b9a848] mx-1">Username</label>
              <div>
                {{profile_form.username}}
              </div>
            </div>
        
            <!-- Email -->
            <div>
              <label for="email" class="block text-sm font-medium text-[#b9a848] mx-1">Email Address</label>
              <div>
                {{profile_form.email}}
              </div>
            </div>
            
            <!-- Save Button -->
            <button name="profile_submit"
            type="submit"
            class="btn">
              Save Changes
            </button>
          </form>

          <!-- forms error -->
          {% if password_form.errors %}
          <ul class="text-red-500 text-sm list-disc pl-5">
            {% for field in password_form %}
              {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in password_form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <!-- Change Password Section -->
          <form method="POST" class="space-y-6 max-w-2xl mt-8">
            {% csrf_token %}
            <h3 class="text-2xl text-gold font-bold mb-2">Change Password</h3>
            
            <div class="relative">
                <label class="block text-sm font-medium text-[#b9a848] mx-1">
                    Current Password
                </label>
                {{ password_form.old_password }}
                <i class="fa-solid fa-eye toggle-password absolute right-3 top-8 cursor-pointer"
               data-target="id_old_password"></i>
            </div>
            
            <div class="relative">
                <label class="block text-sm font-medium text-[#b9a848] mx-1">
                    New Password
                </label>
                {{ password_form.new_password1 }}
                <i class="fa-solid fa-eye toggle-password absolute right-3 top-8 cursor-pointer"
               data-target="id_new_password1"></i>
            </div>
            
            <div class="relative">
                <label class="block text-sm font-medium text-[#b9a848] mx-1">
                    Confirm New Password
                </label>
                {{ password_form.new_password2 }}
                <i class="fa-solid fa-eye toggle-password absolute right-3 top-8 cursor-pointer"
               data-target="id_new_password2"></i>
            </div>
            
            <button type="submit" name="password_submit" class="btn">
                Change Password
            </button>
          </form>
        </div>
        
        <!-- Contact History Section -->
        <div id="contact-history" class="section hidden">
          <h2 class="text-2xl text-gold font-bold mb-4">Contact History</h2>
          
          <div class="overflow-x-auto overflow-y-auto max-h-[500px]  rounded-lg border border-white/30 bg-transparent">
            <table class="min-w-full divide-y divide-white/10">
              <thead class="bg-transparent">
                <tr class="text-left text-gold">
                  <th class="px-6 py-3 font-medium uppercase ">Date</th>
                  <th class="px-6 py-3 font-medium uppercase ">Name</th>
                  <th class="px-6 py-3 font-medium uppercase ">Email</th>
                  <th class="px-6 py-3 font-medium uppercase ">Subject</th>
                  <th class="px-6 py-3 font-medium uppercase ">Status</th>
                </tr>
              </thead>
              <tbody>
                {% if not contact %}
                <tr class="text-gray-400">You have no contact messages.</tr>
                {% endif %}
                {% for c in contact %}
                <tr class="border-b border-white/30 hover:bg-gold/10">
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-light">{{c.created_at}}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-light">{{c.full_name}}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-light">{{c.email}}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-light">{{c.subject}}</td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <span class="border border-white/20 rounded-full px-3 py-1 text-xs font-semibold transition-colors
                      {% if c.status == 'new' %} bg-blue-900/30 text-blue-400
                      {% elif c.status == 'in_progress' %} bg-yellow-900/30 text-yellow-400
                      {% elif c.status == 'on_hold' %} bg-orange-900/30 text-orange-400
                      {% elif c.status == 'resolved' %} bg-green-900/30 text-green-400
                      {% elif c.status == 'closed' %} bg-gray-900/30 text-gray-400
                      {% elif c.status == 'spam' %} bg-red-900/30 text-red-400
                      {% else %} bg-gray-900/30 text-gray-400
                      {% endif %}
                    ">
                      {{ c.status|capfirst }}
                    </span>
                  </td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
     


    </div>
  </div>
  
  <script>
    function showSection(sectionId) {
      // Hide all sections
      document.querySelectorAll('.section').forEach(section => {
        section.classList.add('hidden');
      });
      // Show the selected section
      document.getElementById(sectionId).classList.remove('hidden');
    }

    function previewPhoto(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = () => {
          document.getElementById('profilePreview').src = reader.result;
        };
        reader.readAsDataURL(file);
      }
    }
    document.addEventListener("DOMContentLoaded", function () {
      const params = new URLSearchParams(window.location.search);
      const section = params.get("section") || "dashboard"; // fallback to dashboard

      showSection(section);
    });
  </script>
  
</body>
</html>
{% endblock content %}