{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <div class="top-img">
      <section class="content">
        <h1 class="font-bold">welcome to the world of supplements</h1>
        <p>Here you can find the best supplemnts for your life-style</p>
        <a href="#products">Buy Now</a>
      </section>
    </div>

    <main id="products">
      <h2 class="head-title font-bold">Our Categories</h2>
      <section class="categories flex">
        {% for c in categories %}
        <!-- first card -->
        <article class="card">
          <a href="{% url 'core:category-product-list' c.cid %}"
            >
          <img
            class="product-image"
            src="{{ c.image.url }}"
          /></a>
          <div style="text-align: center">
          <span class="title">{{c.title}}</span><br>
          <span class=" text-[#414141]" >{{c.category.count}} product{{c.category.count|pluralize}}</span>
          </div>
          
        </article>

        <!-- end card -->

        {% endfor %}
      </section>
    </main>
        
    <main class="">
      <h2 class="head-title font-bold">Best Sellers</h2>
        <section class="products">
        {% for p in best_sellers %}
        <!-- first card -->
        <article class="card relative">
          {% if p.get_discount_percentage %}
          <!-- Discount Tag -->
          <div class=" absolute top-2 right-2  
          bg-red-600 text-white text-[0.65rem] sm:text-xs
           xs:text-[0.55rem] font-semibold px-1.5 py-0.5 sm:px-2 sm:py-1 rounded  shadow-lg z-10">
            -{{p.get_discount_percentage}}% off
          </div>
          {% endif %}

            

          <a href="{% url 'core:product-detail' p.pid %}">
            <img src="{{p.image.url}}" alt="">
          </a>

          <div class=" mt-3 ">
            <div class="flex items-center justify-between">
              <p>{{p.category}}</p>
              <button data-pid="{{p.pid}}"
              class="add-to-wishlist">
              <i class="fa-regular fa-heart text-gold text-lg transition-all duration-200"></i>
              </button>
            </div>
            <a href="{% url 'core:product-detail' p.pid %}"><span class="product-title title">{{p.title}}</span></a>
            <p class="description">
              {{p.description}}<br /> 
            </p>
           
            
            <div class="flex flex-col md:flex-row items-center justify-between mt-3">
            <!-- السعر -->
            <p class="price">
              EGP <span class="current-product-price">{{p.price}}</span> <br>
              {% if p.old_price %}
              <span class="old-price">EGP {{p.old_price}} </span>
              {% endif %}
            </p>
            
            {% if p.in_stock %}
            <!-- الزرار -->
            <a href="{% url 'core:product-detail' p.pid %}"class="add-to-cart">
              <i class="fa-solid fa-cart-shopping cart-icon"></i>
              <span class="text">add to cart</span>
            </a>
            {% else %}
            <button disabled class=" w-[140px] h-[40px] rounded-[12px]
               border-none bg-gray-600 flex items-center justify-center">
              Out of Stock
            </button>
            {% endif %}
            </div>
          </div>
          </div>
        </article>
        <!-- end card -->  
        {% endfor %}     
        </section>

        <div class="flex justify-center">
          <a href="{% url 'core:product-list' %}" class="mt-8 text-gold text-lg
           font-semibold text-center w-52  py-2 px-4 bg-dark 
           rounded-md shadow-md hover:bg-gold hover:text-dark transition duration-300">
            View All Products
          </a>
        </div>

      <h2 class="head-title font-bold">New Arrivals</h2>
      <!-- Product Cards Section -->
      <section class="products">
        {% for p in products %}
        <!-- first card -->
        <article class="card relative">      
          {% if p.get_discount_percentage %}
          <!-- Discount Tag -->
          <div class=" absolute top-2 right-2  
          bg-red-600 text-white text-xs sm:text-[0.65rem]
           xs:text-[0.55rem] font-semibold px-1.5 py-0.5 sm:px-2 sm:py-1 rounded  shadow-lg z-10">
            -{{p.get_discount_percentage}}% off
          </div>
          {% endif %}

          <img src="{{p.image.url}}" alt="">

          <div class=" mt-3 ">
            <div class="flex items-center justify-between">
              <p>{{p.category}}</p>
              <button data-pid="{{p.pid}}"
              class="add-to-wishlist">
              <i class="fa-regular fa-heart text-gold text-lg transition-all duration-200"></i>
              </button>
            </div>
            
            <a href="{% url 'core:product-detail' p.pid %}"><span class="title">{{p.title}}</span></a>
            <p class="description">
              {{p.description}}<br /> 
            </p>
           
            
            <div class="flex flex-col md:flex-row items-center gap-4 mt-3">
              <!-- السعر -->
              <p class="price">
                EGP {{p.price}} <br>
                {% if p.old_price %}
                <span class="old-price">EGP {{p.old_price}}</span>
                {% endif %}
              </p>
              

              {% if p.in_stock %}
              <!-- الزرار -->
              <a href="{% url 'core:product-detail' p.pid %}"class="add-to-cart">
                <i class="fa-solid fa-cart-shopping cart-icon"></i>
                <span class="text">add to cart</span>
              </a>
              {% else %}
              <button disabled class=" w-[140px] h-[40px] rounded-[12px]
               border-none bg-gray-600 flex items-center justify-center">
                Out of Stock
              </button>
              {% endif %}
            </div>
          </div>
        
        </article>
        <!-- end card -->  
        {% endfor %}     
      </section> 
    </main>
{% endblock content %}