{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <section>
    <!-- Buttons Container -->
    <div class="flex Buttons-Container items-center justify-between gap-4">
      <!-- Sidebar Toggle Button (Hidden on Large Screens) -->
      <button id="openSidebar" class="lg:hidden p-3 bg-dark text-gold border border-gold rounded-md self-start xs:self-auto">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Page Title (Home / Search Results) -->
      <div class="text-center lg:text-left flex items-center sm:items-center gap-2 lg:gap-4">
        <a href="{% url 'core:index' %}" class="text-gold no-underline font-medium flex gap-1">
          <i class="fa-solid fa-home text-sm"></i> 
          <span class="text-lg">Home</span>
        </a>
        <span class="text-white">/</span>
        
        {% if query %}
        <span class="text-white">{{query}}</span>
        {% else %}
        <!-- Fallback text when no search query exists -->
        <span class="text-white">No Searched Item</span>
        {% endif %}          
      </div>

      <!-- Sort By Dropdown -->
      <form class="rounded-lg bg-gold w-[180px] h-[40px] p-2">
        <select id="sort-by" class="w-full h-full bg-transparent text-dark">
          <option value="best_selling" class="text-semibold text-gold bg-dark">Sort by popularity</option>
          <option value="latest" class="text-semibold text-gold bg-dark">Sort by latest</option>
          <option value="price_asc" class="text-semibold text-gold bg-dark">Sort by price: low to high</option>
          <option value="price_desc" class="text-semibold text-gold bg-dark">Sort by price: high to low</option>
        </select>
      </form>
    </div>

    <!-- Main Content Area -->
    <main class="list-product xs:min-w-[430px] sm:min-w-[640px] lg:min-w-[1024px] xl:min-w-[1280px] mx-auto">
      <!-- Product Cards Section -->
      <section id="product-container" class="products item-a">
        {% include "core/async/product_card.html" with products=products %}
      </section> 
      
      <!-- Sidebar Section -->
      {% include "partials/sidebar.html" %}
    </main>

    <!-- Pagination -->
    {% include 'partials/pagination.html' %}
  </section>
{% endblock %} 

