{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class=" flex flex-col justify-center min-h-screen  py-5">
  <h2 class="text-2xl font-bold text-center text-gold mb-4">الدفع عن طريق فودافون كاش</h2>

  <div class="bg-dark border-2 border-gold p-4 rounded-lg text-center shadow-lg text-light w-1/2 mx-auto space-y-3">
    <p class="font-bold">ارسل المبلغ إلى رقم فودافون كاش:</p>
    <p class="text-gold font-bold text-xl">01056611228</p>

    <p class="font-bold">ثم ابعت صورة الإيصال على واتساب:</p>
    <p class="text-gold underline font-bold"><a href="https://wa.me/201556611228" target="_blank">اضغط هنا لفتح واتساب</a></p>

    <p class="font-bold">بعد تأكيد الدفع، سيتم تجهيز الطلب مباشرة.</p>
  </div>

  <div class="text-center mt-6">
    <a href="{% url 'core:index' %}" class="btn">العودة للرئيسية</a>
  </div>
</div>

{% endblock %}