{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
      <!-- for any errors in registeration -->
      {% if form.errors %}
      <div class="flex items-center justify-center rounded-xl mt-6 px-6 py-4
       w-full max-w-xl mx-auto shadow-md bg-dark border-l-4 border-red-500" role="alert">
      <strong class="text-neutral-50 ">Errors:</strong>
      <ul class="text-neutral-50">
            {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors|join:", " }}</li>
            {% endfor %}
      </ul>
      </div>
      {% endif %}

    <main style="height: 70vh" class="min-w-full flex items-center justify-center">
      <div class="flex items-center justify-center h-full w-full">
        <div class="w-full max-w-md bg-black/10 backdrop-blur-sm border-2 border-white/30 shadow-[rgba(220,220,220,0.75)] rounded-lg shadow-md p-6">
          <h2 class="text-2xl font-bold text-gold mb-4 text-center">
            Create Account
          </h2>
          <form class="flex flex-col relative" method="POST">
            {% csrf_token %}
            <div class="form-group">
              {{ form.username }}
              <label>Username</label>
            </div>
            <div class="form-group">
              {{form.email}}
              <label>Email</label>
            </div>
            <div class="form-group">
              {{form.password1}}
              <label>Password</label>
              <i class="fa-solid fa-eye toggle-password absolute right-3 top-6 cursor-pointer"
              data-target="id_password1"></i>
            </div>
            <div class="form-group">
              {{form.password2}}
              <label>Confirm Password</label>
              <i class="fa-solid fa-eye toggle-password absolute right-3 top-6 cursor-pointer"
              data-target="id_password2"></i>
            </div>
            <div class="flex items-center justify-between flex-wrap">
              <input
                  type="checkbox"
                  id="remember-me"
                  class="checkbox hidden"/>
                  <label for="remember-me" class="check flex cursor-pointer">
                    <svg width="18px" height="18px" viewBox="0 0 18 18" class="mr-2">
                      <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                      <polyline points="1 9 7 14 15 4"></polyline>
                    </svg>
                    <span class="text-sm text-light">Agree all terms and conditions</span>
                  </label>
              <p class="text-light mt-4">
                Already have an account?
                <a
                  href="{% url 'userauths:sign-in' %}"
                  class="text-base text-gold font-bold hover:underline"
                  >Login</a
                >
              </p>
            </div>
            <button
              type="submit"
              class="bg-darker w-2/4 text-center text-gold  border-2 border-white/30 shadow-[_0px_0px_10px_rgba(95,157,231,0.2)] font-bold py-2 px-4 rounded-md mt-4 hover:bg-gold hover:text-dark ease-in-out duration-150"
            >
              Create
            </button>
          </form>
        </div>
      </div>
    </main>
{% endblock content %}