{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- tailwind -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tw-elements/css/tw-elements.min.css"
    />
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          fontFamily: {
            montserrat: ["Montserrat", "serif"],
          },
        },
        corePlugins: {
          preflight: false,
        },
      };
    </script>
    <link rel="stylesheet" href="{% static '/assets/css/global.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/header.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/index.css' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/login.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Log In</title>
  </head>
  <body style="display: grid; grid-template-rows: auto 1fr auto;">
    
    <main id="login" style="height: 70vh;">
      
      <div style="display: flex;  justify-content: center;  align-items: center; height: 100%;">

        <div
          class="w-full  max-w-md bg-black/10 backdrop-blur-sm border-2 border-[#ffffff55] shadow-lg shadow-[rgba(220,220,220,0.75)] rounded-lg shadow-md p-6"
        >
          <!-- Container for the login form with a white background, rounded corners, and shadow effect -->

          <h2 class="text-2xl font-bold text-[#b9a848] mb-4  text-center">Login</h2>
          <!-- Heading for the login form -->

          <form class="flex flex-col relative" method="POST">
            {% csrf_token %}
            
            <!-- Login form -->
            <div class="form-group">
              <input class="form-input" required="" type="email" name="email" />
              <label>Email</label>
            </div>

            <div class="form-group">
              <input class="form-input" id="password" required="" type="password" name="password" />
              <label>Password</label>
              <i class="fa-solid fa-eye toggle-password absolute right-3 top-6 cursor-pointer"
               data-target="password"></i>
            </div>

            <div class="flex items-center justify-between flex-wrap">
              <!-- Flex container for 'Remember me' checkbox and 'Forgot password' link -->
              <input
                  type="checkbox"
                  id="remember-me"
                  class="checkbox hidden"
                />
                <label for="remember-me" class="check flex cursor-pointer">
                  <svg width="18px" height="18px" viewBox="0 0 18 18" class="mr-2">
                    <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                    <polyline points="1 9 7 14 15 4"></polyline>
                  </svg>
                  <span class="text-base text-[#b9a848] font-bold ">Remember me</span>
                </label>
              <!-- Checkbox for "Remember me" with a label -->

              <a
                href="{% url 'password_reset' %}"
                class="text-base text-[#b9a848] font-bold hover:underline mb-0.5"
                >Forgot password?</a
              >
              <!-- Link for password recovery -->

              <p class="text-white mt-4">
                Don't have an account?
                <a
                  href="{% url 'userauths:sign-up' %}"
                  class="text-base text-[#b9a848] font-bold hover:underline mt-4"
                  >Register</a
                >
              </p>
              <!-- Signup link for users who don't have an account -->
            </div>

            <button
              type="submit"
              class="bg-[#1E1E1E]  w-2/4 text-center text-[#b9a848] font-semibold border-2 border-[#ffffff55]  shadow-[_0px_0px_10px_rgba(95,157,231,0.2)] 
               font-bold py-2 px-4 rounded-md mt-4
               hover:bg-[#b9a848] hover:text-[#28282B]  ease-in-out duration-150"
            >
              Login
            </button>
            <!-- Login button with a gradient background and hover effects -->
          </form>
        </div>
      </div>
    </main>

    
    <!-- tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/js/tw-elements.umd.min.js"></script>

    <!--search button -->
    <script src="{% static 'assets/js/search.js' %}"></script>
  </body>
</html>
{% endblock content %}
