@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/*================
classes
================*/


.flex{
      display: flex;
      align-items: center;
}
/*================
general settings
================*/
*{
    margin: 0;
    padding: 0;
}
html{
      font-family: "Montserrat", serif !important;
      box-sizing: border-box;
      scrollbar-color: #b9a848 #28282B;
      scroll-behavior: smooth;
}
*,
*:before,
*:after {
      box-sizing: inherit;
}

::selection {
      background: #b9a84888; 
      color: #fff;
    }
    
/* ============
button and link style
 ==============*/
a,button{    
      cursor: pointer;
      display: inline-block;
}


a:active,button:active{
      scale: 0.9;
}

li{
      list-style: none;

}

.btn{
      background-color: #b9a848;
      color: #28282B;
      font-size: 1rem; 
      font-weight: 600; 
      padding-left: 0.7rem; 
      padding-right: 0.7rem;
      padding-top: 0.30rem; 
      padding-bottom: 0.30rem;
      border-radius: 0.25rem; 
}

/* ============
    forms
 ==============*/
 .form {
      padding: 0.75rem 1rem;
      background-color: transparent;
      width: 100%;
      color: #F9FAFB;
      font-size: 0.875rem; 
      border: 1px solid #414141;
      border-radius: 0.375rem;
      }
    
.form:focus {
      border-color: #b9a848;  
      outline: 0;
      }

input[type="checkbox"].form {
      width: auto;
      height: 1.25rem;
      width: 1.25rem;
      accent-color: rgba(185, 168, 72, 1);
}
/* ============
    form for login and register
 ==============*/
 .form-input {
  color: white;
  background: transparent;
  border: 1px solid #414141;
  border-radius: 5px;
  padding: 8px;
  outline: none;
}

.form-input:focus {
  border: 1px solid #b9a848;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #e0dbdb;
  position: relative;
  padding: 10px 0;
  width: 100%;
}

.form-group label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  padding: 5px;
  pointer-events: none;
  transition: 0.5s;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -16px;
  left: 0;
  background: transparent padding-box;
  padding: 10px 0 0 0;
  color: #e0dbdb;
  font-size: 12px;
}
/* ============
Scrollbar  style
 ==============*/
 ::-webkit-scrollbar {
       width: 0.88rem;
 }

 ::-webkit-scrollbar-track {
       border: 7px solid #292c3b;
       box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
       border-radius: 4px;
       background-color: #d4d4d8;
 }

 ::-webkit-scrollbar-thumb {
       background: #999;
       border-radius: 2px;
 }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px; /* Size of the circle */
    height: 5px;
    background: #ff0404; /* Change color */
    border-radius: 50%; /* Make it round */
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #b9a848;
    border-radius: 50%;
    cursor: pointer;
  }


/* ============
  range slider
 ==============*/
 /* لون المسار */
.noUi-connect {
background: #b9a848;
}
    
/* شكل مقبض السحب */
.noUi-handle {
border: none;
background: #b9a848;
width: 20px;
height: 20px;

box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
    
/* لون الخلفية */
.noUi-target {
background: #e5e5e5;

}

/* ============
  checkboxes
 ==============*/
.check {
cursor: pointer;
position: relative;
-webkit-tap-highlight-color: transparent;
transform: translate3d(0, 0, 0);
}
    
.check:before {
content: "";
position: absolute;
top: -15px;
left: -15px;
width: 48px;
height: 48px;
border-radius: 50%;
background: rgba(34,50,84,0.03);
opacity: 0;
transition: opacity 0.2s ease;
}

.check svg {
position: relative;
z-index: 1;
fill: none;
stroke-linecap: round;
stroke-linejoin: round;
stroke: #c8ccd4;
stroke-width: 1.5;
transform: translate3d(0, 0, 0);
transition: all 0.2s ease;
}

.check svg path {
stroke-dasharray: 60;
stroke-dashoffset: 0;
}

.check svg polyline {
stroke-dasharray: 22;
stroke-dashoffset: 66;
}

.check:hover:before {
opacity: 1;
}

.check:hover svg {
stroke: #b9a848;
}

.check:hover span {
color: #b9a848;
transition: all 0.3s linear;
}
.checkbox:checked + .check svg {
stroke: #b9a848;
}

.checkbox:checked + .check svg path {
stroke-dashoffset: 60;
transition: all 0.3s linear;
}

.checkbox:checked + .check svg polyline {
stroke-dashoffset: 42;
transition: all 0.2s linear;
transition-delay: 0.15s;
}
    


/* ============
  radio buttons
 ==============*/
.radio-input input {
display: none;
}
    
.radio-input label {
--border-color: #FFFFFF4D;
border: 1px solid var(--border-color);
border-radius: 6px;
min-width: 5rem;
margin: 1rem;
padding: 1rem;
display: flex;
justify-content: space-between;
position: relative;
align-items: center;
}

.radio-input input:checked + label {
--border-color: #b9a848;
border-color: var(--border-color);
border-width: 2px;
}
.radio-input label:hover {
--border-color: #b9a848;
border-color: var(--border-color);
}

.radio-input {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
}

.circle {
display: inline-block;
width: 20px;
height: 20px;
border-radius: 50%;
background-color: rgb(189, 187, 207);
margin-right: 0.5rem;
position: relative;
}

.radio-input input:checked + label span.circle::before {
content: "";
display: inline;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #b9a848;
width: 15px;
height: 15px;
border-radius: 50%;
}
.text {
display: flex;
align-items: center;
}

.small {
font-size: 10px;
color: rgb(136, 138, 139);
font-weight: 100;
}

/* responsive */

@media (max-width: 768px) {

.radio-input label {
      width: 100%;
      text-align: center;
}
}

.ts-control {
      background-color: #28282B; /* dark background */
      border: none;
      }
.ts-control, .ts-wrapper.single.input-active .ts-control {
      background-color: #28282B;
}
.ts-control > input {
      background-color: #28282B !important;
      color: #f1f1f1; /* light text color */
      padding: 0.75rem 1rem !important; /* consistent padding */
      width: 100%; 
      border: 1px solid #414141 !important;
      border-radius: 0.375rem !important;
      font-size: 1rem; /* consistent font size */
      outline: none; /* remove default outline */
}
/* Dropdown menu */
.ts-dropdown {
background-color: #2c2c2c;
border: 1px solid rgba(255, 255, 255, 0.1);
color: #f1f1f1;
}
    
    
    