body {
  background-image: url("/static/assets/img/flat background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

