
    <!-- Main container -->
    <main id="cart-list">
      <div class=" w-full mx-auto px-4 py-8">
        <!-- Page title -->
        <h1 class="text-3xl sm:text-4xl font-bold mb-6 text-center  text-[#b9a848]">
          Shopping Cart
        </h1>

        <div class="mb-4">
          there are <span class="text-[#b9a848]">{{cart_total_items}}</span> products in your cart.
        </div>
        
        <!-- Main layout - column on mobile, row on desktop -->
        <div class="flex flex-col gap-6 lg:flex-row">
          <!-- Cart section - full width on mobile, 3/4 on desktop -->
          <div class="w-full lg:w-3/4">
            <div class="border border-white/30 rounded-lg p-4 sm:p-6 overflow-x-auto">
              <table class="w-full min-w-[600px]">
                <thead>
                  <tr class="border-b border-white/30">
                    <th class="text-left pb-4 font-semibold text-[#b9a848]">Product</th>
                    <th class="text-right pb-4 font-semibold text-[#b9a848]">Price</th>
                    <th class="text-right pb-4 font-semibold text-[#b9a848]">Quantity</th>
                    <th class="text-right pb-4 font-semibold text-[#b9a848]">Subtotal</th>
                    <th class="text-right pb-4 font-semibold text-[#b9a848]">Remove</th>
                  </tr>
                </thead>
                <tbody class="cart-items">
                  {% for pid, item in cart_data.items %}
                  <tr class="border-b border-white/30">
                    <td class="py-4">
                      <div class="flex items-center">
                        <img class="h-16 w-16 rounded mr-4" src="{{ item.image }}" alt="Product">
                        <span class="font-medium hover:text-[#b9a848] transition duration-150">
                          <a href="{% url 'core:product-detail' pid %}">{{ item.title }}</a>
                        </span>
                      </div>
                    </td>
                
                    <td class="py-4 text-right">EGP {{ item.price }}</td>
                
                    <td class="py-4">
                      <div class="flex justify-end items-center">
                        <button data-pid="{{ pid }}"
                        onclick="decreaseQuantity('{{ pid }}')" 
                        class="update-cart rounded-l px-3 py-1 bg-transparent text-white hover:bg-[#b9a848] 
                        hover:text-gray-900 transition">-</button>
                    
                        <input
                          type="text"
                          id="qty-{{ pid }}"
                          value="{{ item.qty }}"
                          readonly
                          class="cart-item-quantity w-12 text-center bg-transparent  text-white"
                        />
                    
                        <button data-pid="{{ pid }}"
                        onclick="increaseQuantity('{{ pid }}')" 
                        class="update-cart rounded-r px-3 py-1 bg-transparent text-white hover:bg-[#b9a848] 
                        hover:text-gray-900 transition">+</button>
                      </div>
                    </td>
                    <script>
                      function increaseQuantity(pid) {
                        const input = document.getElementById(`qty-${pid}`);
                        let currentValue = parseInt(input.value);
                        input.value = currentValue + 1;
                      }
                    
                      function decreaseQuantity(pid) {
                        const input = document.getElementById(`qty-${pid}`);
                        let currentValue = parseInt(input.value);
                        if (currentValue > 1) {
                          input.value = currentValue - 1;
                        }
                      }
                    </script>
                
                    <td class="py-4 text-right">EGP {% widthratio item.price 1 item.qty %}</td>
                
                    <td class="py-4 text-right">
                      <button class="delete-product pr-4 text-red-500 hover:text-red-700 transition" data-pid="{{ pid }}">
                        <i class="fa-solid fa-trash"></i>                        
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                
              </table>
            </div>
          </div>
          
          <!-- Summary section (full width on small screens, 1/4 on larger screens) -->
          <div class="w-full lg:w-1/4">
            <div class="bg-transparent border-2 border-white/30 rounded-lg shadow-md p-6">
              <h2 class="text-lg font-semibold mb-4 text-center text-[#b9a848]">
                Summary
              </h2>
              <div class="flex justify-between mb-2 text-white">
                <span class="font-semibold">Items in Cart</span>
                <span class="font-semibold">{{cart_total_items}}</span>
              </div>
              
              <div class="flex justify-between mb-2 text-white">
                <span>Shipping</span>
                <span>0.00</span>
              </div>
              <hr class="my-4 border-white/30" />
              <div class="flex justify-between mb-2 text-white">
                <span class="font-semibold">Total</span>
                <span class="font-semibold"> EGP {{cart_total_amount}}</span>
              </div>
              <!-- Checkout button -->
               {% if cart_total_amount %}
              <div class="flex justify-center mt-4">
                <button
                  type="submit"
                  class="bg-[#1E1E1E] w-1/2 text-center text-[#b9a848] font-bold border-2 border-white/20 shadow-md px-4 py-2 rounded-md 
                  hover:bg-[#b9a848] hover:text-[#28282B] transition-colors duration-150 cursor-pointer"
                >
                  Checkout
                </button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
     </main>
    
 